<!DOCTYPE html>
<html dir="rtl" lang="ar">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <p class="text-center background">ملاحظة : يتم احتساب الشحن بالدولار الامريكي او ما يعادلها من عملات حسب سعر الصرف المحلى .</p>
       <div class="container">
        

        <table id="table">
            <thead class="background">
                <tr>
                    <td>اسم المادة</td>
                    <td>تكلفة الشحن</td>
                    <td>وقت التحديث</td>

                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
        <div class="info">
            
          <div class="flex">
            <div class="showinfo">
                <h3 class="text-center">ملخص الاسعار</h3>
                <div class="highprice">
                    <span>اعلى سعر</span>
                    <span class="span"> </span>
                    <span class="name"> </span>
                </div>
                <div class="lowprice">
                    <span>اقل سعر</span>
                    <span class="span"> </span>
                    <span class="name"> </span>
                </div>
                <div class="average">
                    <span>متوسط الاسعار</span>
                    <span class="span"> </span>
                    <span class="name"> </span>
                </div>
            </div>
          
          </div>
            
        </div>

  
       </div>
       <!-- <button id="printButton">Print Section</button> -->
        <script src="./general.js"></script>
    </body>
</html>